version: "3.9"

services:
  api:
    container_name: nestjs-api
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: .env
    environment:
      - MONGO_URI=${MONGO_URI}
      - PORT=${PORT:-3000}
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - app_network

  mongodb:
    image: mongodb/mongodb-community-server:8.2.1-ubi9
    container_name: mongodb
    restart: unless-stopped
    env_file: .env
    environment:
      MONGODB_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGODB_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_DB_NAME: ${MONGO_DB_NAME:-nestdb}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data:
